

.addActorB {
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(58, 58, 58, 0.781);
    min-width: fit-content;
    width: 20%;
justify-content: flex-end;    

}
.addActorB:hover{

    background-color: rgba(0, 0, 0, 0.726);

}
#addActorForm{
animation: growUp 1.5s cubic-bezier(0.48,-0.32, 0, 0.83) forwards;
}

@keyframes growUp {
    100% {
        width: 100%;
        height: 100%;
    }
}

