
.Movies {
    opacity: 0;
    grid-column: 2;
    border-radius: 25px;
    margin: 20px 20px 20px 0;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: fadeIn 1s ease-in forwards;


}
.addMovie {
    grid-column: 1/ span 2;
    grid-row: 1;
    z-index:1;
    /* width: 100px;
    height: 100px; */
    width: 10%;
    height: 15%;
    border-radius: 100px;
    border: none;
    margin: 20px;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
}
.formRow2{
    display: flex;
}
.addButton{
    width: 20%;
    opacity: 40%;
    background-color: rgb(184, 184, 184);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
}
.addButton:hover {
    opacity: 100%
}

.deleteButton{
    grid-column: 2;
    width: fit-content;
    height: fit-content;
    opacity: 40%;
    background-color: rgb(184, 184, 184);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    margin: 20px 30px;
    padding: 10px 20px;
    color:black;
}
.deleteButton:hover{
    opacity: 100%

}


#wow {
    background-color: rgb(255, 255, 255);
    animation: growIn 1.5s cubic-bezier(0.48,-0.32, 0, 0.83) forwards;
}


@keyframes growIn {
    0% {}
    100% { 
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        grid-column: 1 /  span 2;
        grid-row: 1;
        border-radius: 25px;
        margin: 0;
        color:white
    }
    
}

@keyframes fadeIn {
    100% { 
        opacity: 100%;
    }
}