
.Movies {
    background-color: rgb(196, 255, 199);
    grid-column: 2;
    border-radius: 25px;
    margin: 20px 20px 20px 0;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.addMovie {
    grid-column: 1/ span 2;
    grid-row: 1;
    z-index:1;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 100px;
    border: none;
    margin: 20px;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wow {
    background-color: rgb(255, 208, 0);
    animation: growIn 1.5s cubic-bezier(0.48,-0.32, 0, 0.83) forwards;
}

@keyframes growIn {
    0% {}
    100% { 
        width: 100%;
        height: 100%;
        background-color: rgb(175, 67, 185);
        grid-column: 1 /  span 2;
        grid-row: 1;
        border-radius: 25px;
        margin: 0;
    }
    
}