.Roles {
    color: white;
    grid-column: 1 /  span 3;
    grid-row: 1 /  span 3;
    background-color: rgb(56, 56, 56);
    border-radius: 25px;
}
#addRole{
margin-left: 20px;

}
#addRole:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.685);
}


.rolesForm {
    width: 1%;
    height: 1%;
    background-color: blue;
    border-radius: 25px;

    animation: growCenter 2s cubic-bezier(0.48, 0, 0, 0.83) forwards;

}
@keyframes growCenter {
    100% {
        width: 100%;
        height: 100%;
        background-color: red;
    }
}
