.Roles {
    background-color: rgb(67, 185, 126);
    text-align: left;
    margin-left: 40px;
    height: 60vh;

}
#addRole{
    background-color: antiquewhite;
    width:fit-content;
    width: 100%;

}
#addRole:hover {
    cursor: pointer;
    
}

.animateAddRole{
    animation: growCenter 2s ease-in forwards;

}

@keyframes growCenter {
  100% {background-color: red}
}